{% extends "layouts/base.html" %}

{% block title %} Edit {{ blog.name }} {% endblock title %}

{% block content %}

    <div class="container form wide">
        <h4 class="title">Edit {{ blog.name }}</h4>
        <form action="{% url 'blog-edit' blog.name %}" method="post" enctype="multipart/form-data">
            {% csrf_token %}

            <div class="field">
                <label class="label" for="name">Name* (markdown available)</label>
                <div class="control">
                    <input id="name" type="text" name="name" maxlength=75 value="{{ blog.name }}" required>
                </div>
                <p id="namelimit"></p>
            </div>

            <div class="field">
                <label class="label" for="about">About* (markdown available)</label>
                <div class="control">
                    <textarea name="about" rows=4 cols=24 required>{{ blog.about }}</textarea>
                </div>
            </div>

            <div class="field">
                <label class="label" for="welcome">Welcome message for new subscribers*</label>
                <div class="control">
                    <textarea name="welcome" rows=4 cols=24 required>{{ blog.welcome }}</textarea>
                </div>
            </div>

            <div class="field">
                <label class="label" for="splash">Blog Image</label>
                <img src="{% if not nosplash %}/static{{ blog.splash.url }}{% endif %}" alt="blog image">
                <input id="splash" name="splash" type="file" accept="image/*">
                {% if not nosplash %}
                <div class="toggler small">
                    <span>Delete Image</span>
                    <label class="toggle" for="delete-splash">
                        <input id="delete-splash" name="delete-splash" type="checkbox">
                        <span class="slider"></span>
                    </label>
                </div>
                {% endif %}
            </div>

            <div class="field">
                <p class="control">
                    <button class="button is-success is-dark" type="submit" name="submit">Save</button>
                </p>
            </div>
        </form>
    </div>

{% endblock content %}
