{% extends "layouts/base.html" %}

{% block title %} {{ blog.name }} {% endblock title %}

{% block content %}

    <section class="container middle">
        <div class="heading">
            <h3 class="title">{{ blog.name | markdown | safe }}</h3>
            <p class="subtitle">{{ blog.about }}</p>

            <div class="author">
                <div class="avatar">
                    <a href="{% url 'user' blog.author %}">
                        <img class="circlepic" src="/static{{ blog.author.pic.url }}" alt="profile picture">
                    </a>
                </div>
                <div class="name">
                    <a href="{% url 'user' blog.author %}">{{ blog.author }}</a>
                    <p>{{ blog.date }}</p>
                </div>
            </div>

            {% if not nosplash %}
            <figure class="splash">
                <img src="/static{{ blog.splash.url }}" alt="blog image">
            </figure>
            {% endif %}
        </div>

        {% if user.is_authenticated and user == blog.author %}
        <div id="blogaction">
            <a href="{% url 'blog-edit' blog.name %}">
                <div class="pill circle edit">
                    <span class="icon is-small"><i class="fas fa-edit"></i></span>
                </div>
            </a>
            <a class="confirm" href="{% url 'blog-del' blog.name %}">
                <div class="pill circle del">
                    <span class="icon is-small"><i class="fas fa-trash"></i></span>
                </div>
            </a>
        </div>
        {% endif %}

        <div class="subscribe mb-5">
            <div id="subscribe" class="field">
                <p class="control">
                    {% if user.is_authenticated %}
                    <a href="{% url 'subscribe' blog.name %}" class="button is-success is-dark">{% if is_subscribed == False %}Subscribe{% else %}Unsubscribe{% endif %} ({{subscriber_count}})</a>
                    {% else %}
                    <a href="{% url 'login' %}?return={{request.path}}" class="button is-success is-dark">Subscribe ({{subscriber_count|default:0}})</a>
                    {% endif %}
                </p>
            </div>
            {% if user.is_authenticated %}
            <a href="{% url 'subnotify' blog.name %}">
                <div class="pill circle notify" style="width: 40px; height: 40px;">
                    {% if subscriber.notify %}
                    <span class="icon is-small"><i class="fas fa-bell"></i></span>
                    {% else %}
                    <span class="icon is-small"><i class="fas fa-bell-slash"></i></span>
                    {% endif %}
                </div>
            </a>
            {% endif %}
        </div>
    </section>

    <section class="container middle">
        <h3 class="title is-3">Posts ({{ count }})</h3>

        {% include "./components/searchbar.html" with user=None type="posts" blog=blog %}

        {% include 'components/posts.html' %}
    </section>

{% endblock content %}
