{% extends "layouts/base.html" %}

{% block title %} Edit Post {% endblock title %}

{% block content %}

    <div class="container form wide">
        <h4 class="title">Edit Post</h4>
        <form action="{% url 'edit' post.id %}" method="post" enctype="multipart/form-data">
            {% csrf_token %}

            <div class="field">
                <label class="label">Blog*</label>
                <div class="control">
                    <div class="select">
                        <select name="blog" id="blog" required>
                            <option value="">--Select a Blog--</option>
                            {% for b in blogs %}
                            <option value="{{ b.name }}"{% if post.blog == b %}selected{% endif %}>{{ b.name }}</option>
                            {% endfor %}
                        </select>
                    </div>
                </div>
            </div>

            <div class="field">
                <label class="label" for="title">Title* (markdown available)</label>
                <div class="control">
                    <input id="title" type="text" name="title" maxlength=150 required value="{{ post.title }}">
                </div>
                <p id="titlelimit"></p>
            </div>

            <div class="field">
                <label class="label" for="subtitle">Subtitle (markdown available)</label>
                <div class="control">
                    <textarea id="subtitle" name="subtitle" maxlength=250 rows=4 cols=24>{{ post.subtitle }}</textarea>
                </div>
                <p id="sublimit"></p>
            </div>

            <!-- TODO: make desc required if image is uploaded -->
            <div class="field">
                <label class="label" for="splash">Image</label>
                <img src="{% if not nosplash %}/static{{ post.splash.url }}{% endif %}" alt="{{ post.splashesc }}">
                <input id="splash" name="splash" type="file" accept="image/*">
                {% if not nosplash %}
                <div class="toggler small">
                    <span>Delete Image</span>
                    <label class="toggle" for="delete-splash">
                        <input id="delete-splash" name="delete-splash" type="checkbox">
                        <span class="slider"></span>
                    </label>
                </div>
                {% endif %}
            </div>

            <div class="field">
                <label class="label" for="splashdesc">Image Description</label>
                <div class="control">
                    <textarea id="splashdesc" name="splashdesc" maxlength=150 rows=4 cols=24>{{ post.splashdesc }}</textarea>
                </div>
                <p id="splashlimit"></p>
            </div>

            <div class="field">
                <label class="label" for="text">Content* (markdown available)</label>
                <div class="control">
                    <textarea id="text" name="text" rows=4 cols=100 required>{{ post.text }}</textarea>
                </div>
            </div>

            <div class="toggler small">
                <span>Turn off comments</span>
                <label class="toggle" for="no-comments">
                    <input id="no-comments" name="no-comments" type="checkbox" {% if post.no_comments == True %}checked{% endif %}>
                    <span class="slider"></span>
                </label>
            </div>

            <div class="toggler small">
                <span>Limit comments to subscribers</span>
                <label class="toggle" for="limit-comments">
                    <input id="limit-comments" name="limit-comments" type="checkbox" {% if post.limit_comments == True %}checked{% endif %}>
                    <span class="slider"></span>
                </label>
            </div>

            <div class="toggler small">
                <span>Subscribers only</span>
                <label class="toggle" for="sub-only">
                    <input id="sub-only" name="sub-only" type="checkbox" {% if post.subonly == True %}checked{% endif %}>
                    <span class="slider"></span>
                </label>
            </div>

            <div class="field">
                <p class="control">
                    <button class="button is-success is-dark" type="submit" name="submit">Save</button>
                </p>
            </div>
        </form>
    </div>

{% endblock content %}
