{% extends "layouts/base.html" %}

{% block title %} Login {% endblock title %}

{% block content %}

    <div class="container form">
        <h3 class="title">Login</h3>
        <form method="post">
            {% csrf_token %}

            <div class="field">
                <label class="label" for="username">Username</label>
                <div class="control">
                    <input id="username" type="text" name="username" maxlength=50 required>
                </div>
            </div>

            <div class="field">
                <label class="label" for="password">Password</label>
                <p class="control">
                    <input id="password" type="password" name="password" maxlength=50 required>
                </p>
            </div>

            <div class="field">
                <p class="control">
                    <button class="button is-success is-dark" type="submit" name="submit">Login</button>
                </p>
            </div>
        </form>

        <div class="">Or <a href="{% url "register" %}">create an account</a></div>
        <dialog id="popup">
            <div class=""><a href="{% url "pass-mail" %}?type=username">forgot username</a></div>
            <div class=""><a href="{% url "pass-mail" %}?type=password">forgot password</a></div>
            <div class="field">
                <p class="control">
                    <button onclick="popup.close()" class="button is-warning is-dark is-small">Close</button>
                </p>
            </div>
        </dialog>
        <div class=""><button style="text-decoration:underline" onclick="popup.showModal()">Need Help?</button></div>
    </div>

{% endblock content %}
