{% extends "layouts/base.html" %}

{% block title %} Register {% endblock title %}

{% block content %}

    <div class="">
        <h3>Reset Password</h3>
        <form action="{% url 'set-password-confirm' %}" method="post">
            {% csrf_token %}

            <input type="hidden" name="token" value="{{ token_id }}"/>
            <div class="">
                <label for="password">Password</label>
                <input id="password" type="password" name="password" maxlength=50 required>
            </div>

            <div class="">
                <button type="submit" name="submit">Reset</button>
            </div>
        </form>
    </div>

{% endblock content %}
