{% extends "layouts/base.html" %}

{% block title %} Home {% endblock title %}

{% block content %}

    <div class="container form">
        <h3 class="title">Recover {{ type }}</h3>
        <form action="{% url 'send-pass-mail-confirm' %}" method="post">
            {% csrf_token %}

            <div class="field">
                <label class="label" for="email">Your email</label>
                <div class="control">
                    <input type="hidden" name="type" value="{{ type }}"/>
                    <input id="email" type="email" name="email" required>
                </div>
            </div>

            <div class="field">
                <p class="control">
                    <button class="button is-success" type="submit">Submit</button>
                </p>
            </div>
        </form>
    </div>

{% endblock content %}
