{% extends "layouts/base.html" %}

{% block title %} Account Settings {% endblock title %}

{% block content %}

    <div class="container settings">
        {% include 'components/settings_menu.html' with active="notify"%}

        <div class="form-container">
            <div class="form">
                <p class="subtitle">Email notifications</p>
                <form action="{% url 'settings-notify' %}?type=comments" method="post">
                    {% csrf_token %}
                    <div class="toggler">
                        <span>Comments on posts</span>
                        <label class="toggle" for="on-comment">
                            <input onChange="this.form.submit()" id="on-comment" type="checkbox" name="notify-comment" {% if notify.on_comment == True %}checked{% endif %}>
                            <span class="slider"></span>
                        </label>
                    </div>
                </form>

                <form action="{% url 'settings-notify' %}?type=subscribe" method="post">
                    {% csrf_token %}
                    <div class="toggler">
                        <span>New subscribers</span>
                        <label class="toggle" for="on-subscribe">
                            <input onChange="this.form.submit()" id="on-subscribe" type="checkbox" name="notify-sub" {% if notify.on_sub == True %}checked{% endif %}>
                            <span class="slider"></span>
                        </label>
                    </div>
                </form>
            </div>

        </div>
    </div>

{% endblock content %}
