{% extends "layouts/base.html" %}

{% block title %} Settings {% endblock title %}

{% block content %}

    <div class="columns">
        {% include 'components/settings_menu.html' with active="profile"%}

        <div class="column">
            <div class="form">
                <h3 class="subtitle">Profile</h3>
                <form method="post" enctype="multipart/form-data">
                    {% csrf_token %}

                    <div class="field">
                        <img id="ppic" src="/static{{ user.pic.url }}" alt="profile picture">
                        <input id="pic" name="pic" type="file" accept="image/*">
                    </div>


                    <div class="field">
                        <label class="label" for="username">Username</label>
                        <div class="control">
                            <input id="username" type="text" name="username" maxlength=50 value="{{ user }}" required>
                        </div>
                    </div>

                    <div class="field">
                        <label class="label" for="fname">First Name</label>
                        <div class="control">
                            <input id="fname" type="text" name="fname" maxlength=50 value="{{ user.first_name }}">
                        </div>
                    </div>

                    <div class="field">
                        <label class="label" for="lname">Last Name</label>
                        <div class="control">
                            <input id="lname" type="text" name="lname" maxlength=50 value="{{ user.last_name }}">
                        </div>
                    </div>

                    <div class="field">
                        <label class="label" for="bio">Bio (markdown available)</label>
                        <div class="control">
                            <textarea id="bio" name="bio" rows=10 cols=24>{{ user.bio }}</textarea>
                        </div>
                        <p id="biolimit"></p>
                    </div>

                    <div class="field">
                        <p class="control">
                            <button class="button is-success is-dark" type="submit" name="submit">Save</button>
                        </p>
                    </div>
                </form>
            </div>
        </div>
    </div>

{% endblock content %}
