{% extends "layouts/base.html" %}

{% block title %} {{ profile.username }}'s Profile {% endblock title %}

{% block content %}

    <section class="container middle">
        <div class="author name">
            <div class="avatar">
                <img class="user circlepic" src="/static{{ profile.pic.url }}" alt="profile picture">
                <div>
                    <h1>{{ profile.username }}</h1>
                    <h2>{% if profile.first_name %}{{ profile.first_name }} {% endif %} {% if profile.last_name %}{{ profile.last_name }}{% endif %}</h2>
                </div>
            </div>
        </div>
        <div>
            {% if profile.bio %}
            <div id="bio">
                {{ profile.bio | markdown | safe }}
            </div>
            {% endif %}

            <p id="joined"><em>joined on {{ profile.date_joined|date:"M d Y \a\t H:i" }}</em></p>
        </div>

        {% include "./components/searchbar.html" with user=profile.username query=query %}

        <h3 class="title is-3">Blogs ({{ blogcount }})</h3>
        {% include 'components/blogs.html' %}

        <br><br><br>

        <h3 class="title is-3">Posts ({{ postcount }})</h3>
        {% include 'components/posts.html' %}
    </section>

{% endblock content %}
