{% extends "layouts/base.html" %}

{% block title %} {{ profile.username }}'s Profile {% endblock title %}

{% block content %}

    <aside class="">
        <img class="circlepic" src="/static{{ profile.pic.url }}" alt="profile picture">
        <h3>{{ profile.username }}</h3>
        <p id="flname">
        {% if profile.first_name %} {{ profile.first_name }} {% endif %}
        {% if profile.last_name %} {{ profile.last_name }} {% endif %}
            <a href="mailto:{{ profile.email }}">Contact</a>
        </p>
        <div class="">
            {% if profile.bio %}
            <p>Bio</p>
            <p>{{ profile.bio | markdown | safe }}</p>
            {% endif %}
        </div>

        <p><em>joined on {{ profile.date_joined|date:"M d Y \a\t H:i" }}</em></p>
    </aside>

    <section class="container middle">
        {% include "./components/searchbar.html" with user=profile.username query=query %}
    </section>

    <section class="container middle">
        <h3 class="title is-3">Blogs ({{ count }})</h3>

        {% include 'components/blogs.html' %}
    </section>

    <section class="container middle">
        <h3 class="title is-3">Posts ({{ count }})</h3>

        {% include 'components/posts.html' %}
    </div>

{% endblock content %}
