<div class="container posts">
    {% for p in posts %}
    <div class="card">
        <div class="card-image">
            <a href="{%  url 'post' p.author p.id %}">
                <figure class="image">
                    <img src="{% if p.splash %}/static{{ p.splash.url }}{% endif %}" alt="{{ p.splashdesc }}">
                </figure>
            </a>
        </div>
        <div class="card-content">
            <a href="{%  url 'post' p.author p.id %}">
                <div class="content">
                    <p class="title is-4">{{ p.title }}</p>
                    <p class="subtitle">{{ p.subtitle }}</p>
                </div>
            </a>

            <p>in <a href="{% url 'blog' p.blog.name %}">{{ p.blog }}</a></p>

            <div class="author">
                <div class="avatar">
                    <a href="{% url 'user' p.author %}">
                        <img class="circlepic" src="/static{{ p.author.pic.url }}" alt="profile picture">
                    </a>
                </div>
                <div>
                    <a href="{% url 'user' p.author %}">{{ p.author }}</a>
                    <p>{{ p.date }}</p>
                </div>
            </div>
        </div>
    </div>
    {% endfor %}
</div>
