$red: #ff4343;
$red-dark: #de3b3b;
$orange: #fe8019;
$yellow: #fabd2f;
$green: #4cca51;
$green-dark: #4caf50;
$grey: #3d444d;
$grey-light: #9198a1;
$grey-dark: #262626;
$grey-darker: #181818;
$white: #ffffff;
$white-dark: #f1f3f5;
$blue: #54a4dc;
$blue-dark: #4793cc;
$blue-light: #1f6feb;
$navy: #082437;
$navy-light: #304f64;
$navy-dark: #0c1a24;
$navy-bg: #04121b;
$shadow: #0000011a;
$search: "data:image/svg+xml;charset=UTF-8,%3Csvg xmlns='http://www.w3.org/2000/svg' width='20' height='20' viewBox='0,0,256,256'%3E%3Cg fill='%23ffffff' %3E%3Cg transform='scale(5.12,5.12)'%3E%3Cpath d='M21,3c-9.37891,0 -17,7.62109 -17,17c0,9.37891 7.62109,17 17,17c3.71094,0 7.14063,-1.19531 9.9375,-3.21875l13.15625,13.125l2.8125,-2.8125l-13,-13.03125c2.55469,-2.97656 4.09375,-6.83984 4.09375,-11.0625c0,-9.37891 -7.62109,-17 -17,-17zM21,5c8.29688,0 15,6.70313 15,15c0,8.29688 -6.70312,15 -15,15c-8.29687,0 -15,-6.70312 -15,-15c0,-8.29687 6.70313,-15 15,-15z'%3E%3C/path%3E%3C/g%3E%3C/g%3E%3C/svg%3E";

*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  margin: 0;
  padding: 0;
}

html {
  -moz-text-size-adjust: none;
  -webkit-text-size-adjust: none;
  text-size-adjust: none;
}

body,
h1,
h2,
h3,
h4,
p,
figure,
blockquote,
dl,
dd {
  margin-block-end: 0;
}

ul[role='list'],
ol[role='list'] {
  list-style: none;
}

body {
  min-height: 100vh;
  line-height: 1.5;
  background-color: $grey-darker;
}

main {
  margin: 25px 15px 10px 15px;
}

h1,
h2,
h3,
h4,
button,
input,
label {
  line-height: 1.1;
}

h1,
h2,
h3,
h4 {
  text-wrap: balance;
}

img,
picture {
  max-width: 100%;
  display: block;
}

a {
  font-size: 1.2rem;
  color: $blue;
}

input,
button,
textarea,
select {
  font-family: inherit;
  font-size: 1.2rem;
}

textarea:not([rows]) {
  min-height: 10em;
}

:target {
  scroll-margin-block: 5ex;
}

@mixin floater($top, $r) {
  top: $top;
  margin-right: $r;
  position: absolute;
  left: auto !important;
  right: 0 !important;
}

.messages {
  @include floater(12%, 2%);
  color: $white;

  width: 12%;
  list-style: none;
  text-align: center;
  z-index: 1000;

  li {
    padding: 0.4em;
    line-height: 2.0em;
    border-radius: 10px;
    word-wrap: none;

    &.success {
      background-color: $green;
    }

    &.warning {
      background-color: $yellow;
    }

    &.error {
      background-color: $red;
    }

    &.info,
    &.debug {
      background-color: $blue;
    }
  }
}

#popup {
  top: 75%;
  left: 50%;
  position: fixed;
  transform: translate(-50%, -50%);
  text-align: center;

  max-width: 30%;
  padding: 20px;
  border-radius: 8px;
  background-color: $grey-dark;

  button {
    margin-top: 10px;
  }
}

nav.navbar {
  color: $grey-light;
  background-color: $grey-dark !important;
  border-bottom: 3px solid black;
}

.navbar-start,
.navbar-end {
  font-size: 20px;

  a:hover {
    text-decoration: underline;
    background-color: $grey-dark !important;
  }
}

.navbar-item {
  img {
    max-height: 40px !important;
  }
}

.has-dropdown {
  a {
    font-size: 18px;
    text-decoration: none;

    &:hover {
      text-decoration: none;
    }
  }
}

.far-left {
  margin-right: auto;
}

.far-right {
  margin-left: auto;
}

.circlepic {
  border-radius: 50% !important;
}

#navuser:hover {
  background-color: $grey-dark !important;
}

.container {
  &.form {
    margin-top: 10% !important;
    max-width: 30% !important;

    .title {
      text-align: center;
    }

    &.wide {
      margin-top: 2% !important;
      max-width: 80% !important;
    }
  }
}

#pic,
#splash {
  max-width: 16em;
}

#ppic {
  max-width: 25%;
  margin: 0 0 10px 0;
}

.forms {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.form {
  padding: 1.2rem;
  border-radius: 0.5rem;
  border: 1px solid $grey;
  background-color: $grey-dark;

  input,
  textarea {
    color: $white;
    background-color: $grey;
    border: none;

    &:focus {
      outline: 0.08rem solid $grey;
      box-shadow: inset 0 0 0 1px $grey-light;
    }
  }

  input,
  textarea,
  button {
    width: 100%;
    padding: 1.5%;
    border-radius: 6px;
    box-sizing: border-box;
    margin: 5px 0 8px;
  }

  textarea[rows][name="text"] {
    height: 250px;
  }

  &.search {
    border: none;
    background-color: unset;

    input {
      border: 3px solid $grey-light;
    }
  }
}

.danger {
  border: 2px solid $red;
  padding: 1em;
  border-radius: 6px;
  margin: 10px 0 0 0;
  background: repeating-linear-gradient(45deg,
      rgba(255, 67, 67, 0.2),
      rgba(255, 67, 67, 0.2) 10px,
      rgba(4, 18, 27, 0.2) 10px,
      rgba(4, 18, 27, 0.2) 20px);
}

.toggler {
  margin: 4px;
  display: flex;
  align-items: center;
  justify-content: space-between;

  &.small {
    align-items: unset;
    justify-content: flex-start;
    gap: 30px;
  }
}

.toggle {
  width: 60px;
  height: 34px;

  input {
    opacity: 0;
    width: 0;
    height: 0;
  }

  .slider {
    position: absolute;
    width: 50px;
    height: 25px;
    border-radius: 24px;
    background-color: $grey;
    cursor: pointer;

    &:before {
      content: "";
      position: absolute;
      width: 25px;
      height: 25px;
      border-radius: 50%;
      background-color: white;
    }
  }

  input:checked+.slider {
    background-color: $green;

    &:before {
      transform: translateX(26px);
    }
  }
}

.middle {
  max-width: 65%;
  overflow-wrap: break-word;
  width: 70%;
  margin: 0 auto !important;
}

.posts,
.blogs {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  gap: 20px;
}

.subscribe {
  display: flex;
  justify-content: flex-start;
  margin: 0 0 15px 0;
  gap: 10px;

  #subscribe {
    width: 100%;

    a {
      width: 100%;
    }
  }
}

.post {
  .heading {
    position: relative;
  }

  .subtitle {
    margin: 10px 0;
    font-style: italic;
  }

  & {
    width: 100%;
  }
}

.author {
  display: flex;
  gap: 1em;
  margin: 20px 0 20px 0;

  .avatar {
    display: flex;
    align-items: center;

    img {
      max-width: 50px;
    }
  }

  div:nth-of-type(2) {
    display: flex;
    flex-direction: column;

    p {
      font-size: 13px;
    }
  }

  div:nth-of-type(3) {
    display: flex;
  }
}

.card .author {
  margin: 20px 0 0 0;
}

.meta {
  display: flex;
  justify-content: flex-start;
  position: relative;
  gap: 10px;
  padding: 15px 0;
  margin: 0 0 20px 0;
  border-top: 1px solid $grey;
  border-bottom: 1px solid $grey;
}

@mixin circle($w, $h, $r) {
  width: $w;
  height: $h;
  border-radius: $r !important;
}

@mixin pill($color) {
  border: 2px solid $color;

  a {
    color: $color !important;
  }
}

.pill {
  display: inline-block;
  border-radius: 20px;
  border: 1px solid $grey;
  padding: 0.5em;
  background-color: $grey-dark;

  &:hover {
    background-color: $grey-darker !important;
  }

  a {
    color: $grey-light;
  }

  &.circle {
    @include circle(40px, 40px, 50%);

    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0;
  }
}

.pill#like,
.pill#share {
  cursor: pointer;
}

.pill#share {
  cursor: pointer;
  background-color: $grey;

  #copied {
    @include floater(23%, 10%);
    display: none;

    color: $white;
    background-color: $grey;
    font-size: 15px;
    text-align: center;
    z-index: 1000;
  }
}

.notify {
  @include pill($green);
}

.edit {
  @include pill($yellow);
}

.del {
  @include pill($red);
}

#postaction,
#blogaction {
  @include floater(0%, 0%);

  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 10px;
}

.splash {
  margin: 40px 0;
  text-align: center;

  img {
    margin: auto;
  }
}

figcaption {
  font-weight: 300;
  font-style: italic;
  margin: 10px 0 0 0;
}

article {
  font-size: 25px;

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    margin: 10px 0;
    font-weight: bold;
    color: $white;
  }

  h1 {
    font-size: 3rem;
  }

  h2 {
    font-size: 2.5rem;
  }

  h3 {
    font-size: 2rem;
  }

  h4 {
    font-size: 1.5rem;
  }

  h5 {
    font-size: 1.25rem;
  }

  h6 {
    font-size: 1rem;
  }

  hr {
    height: 0.3rem;
  }

  p {
    font-family: Helvetica;
  }

  ul, ol {
    margin: 0 0 0 20px;
  }

  ul {
    list-style: unset;
  }

  blockquote {
    margin: 15px 0;
    padding: 10px 0 10px 20px;
    border-left: 5px solid $grey;
  }

  code {
    font-size: 20px;
  }

  pre {
    margin: 20px 0;
  }

  img {
    margin: auto;
  }

  figcaption {
    font-size: 20px;
    font-weight: 300;
    font-style: italic;
    margin: 0 0 20px 0;
    text-align: center;
  }
}

#comment-head {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 20px 0 0 0;
  padding-bottom: 20px;
  border-bottom: 5px solid $grey;

  h5 {
    margin: 0;
  }

  #add-comment {
    display: inline;
  }
}

#comment-form,
.comment-form-edit {
  display: none;
  background-color: $grey-darker;
  border: none;
  padding: 10px 0 0 0;

  .field,
  .control {
    margin: 0 !important;
  }

  .action {
    display: flex;
    gap: 10px;
    justify-content: flex-start;
  }
}

.comment-form-edit {

  .media,
  .control {
    width: 100%;
  }

  .media-content {
    flex-direction: column;
  }

  textarea {
    width: 93%;
  }

  .action {
    gap: 5px;
  }
}

.comment-like {
  margin: 5px 0 0 0;
}

.comment-delete {
  button {
    color: $red;
  }
}

.edit-comment {
  color: $yellow;
}

.comments {
  max-width: 70%;
  overflow-wrap: break-word;
  margin: 1.5em auto !important;
}

.comment {
  display: flex;

  .avatar {
    margin: 20px 10px 0 0;

    img {
      max-width: 50px;
    }
  }

  .left {
    display: flex;
    flex-direction: column;
    border-left: 3px solid $grey;
    margin: 20px 0 0 0;
    padding: 0 0 0 10px;
    width: 100%;

    .head {
      display: flex;
      align-items: center;
      gap: 10px;

      span {
        font-size: 15px;
        font-style: italic;
      }
    }

    .content {
      font-size: 20px;
      font-family: Helvetica;
      padding: 0 30px 0 0;
    }
  }

  &.list {
    margin: 0 0 20px 0;
    padding: 10px 0 20px 0;
    border-bottom: 1px solid $grey;
  }
}

@mixin tag {
  display: flex;
  align-items: center;
  gap: 10px;
  padding: 15px 10px;
  font-weight: 500;
  border-radius: 2em;

  input[type="text"] {
    all: unset;
    max-width: 80px;
    border-bottom: 1px solid $blue-light;
  }

  input[type="submit"] {
    @include circle(18px, 18px, 50%);
    border: none;
    font-weight: bold;
    text-align: center;
    cursor: pointer;

    background-color: $green-dark;
  }
}

.tag-container {
  display: flex;
  margin: 10px auto !important;
}

.tag {
  @include tag();
  margin: 3px 5px;
  flex: 0 0 15%;
  justify-content: space-around;

  background-color: $navy;
  border: 1px solid $navy-light;

  &:hover {
    color: $white;
    background-color: $navy-light;
  }
}

.tags {
  display: flex;
  flex-wrap: wrap;

  a {
    color: $blue-light;

    &:hover {
      text-decoration: none;
    }
  }
}

#tag-add-form {
  @include tag();
  margin: 5px 5px;
  padding: 5px 10px;

  background-color: $navy;
  border: 1px solid $navy-light;
}

#tag-delete {
  display: none;
  all: unset;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  font-weight: bold;
  cursor: pointer;
  text-align: center;
  color: black;
  background-color: $red;
}

.searchbar {
  display: flex;

  form {
    width: 100%;
    padding: 1.2rem 8px;
    display: flex;
  }

  input {
    width: 100%;
    padding: 10px;
    border-radius: 20px;

    &:focus {
      border: 2px solid #26bbff;
      outline: 0.08rem solid #26bbff;
      box-shadow: inset 0 0 0 1px #26bbff;
    }
  }

  .field {
    display: inline;
    margin: 5px 0 0 10px;
  }
}

#search {
  padding-left: 40px;
  background: url($search) no-repeat;
  background-position: 10px center;
}

@media (max-width: 1200px) {

  .middle,
  .comments,
  .container.form.wide {
    max-width: 90% !important;
  }

  .middle {
    width: 100% !important;
  }
}

@media (max-width: 1000px) {
  .container {
    &.form {
      margin-top: 15% !important;
      max-width: 50% !important;
    }
  }
}

@media (max-width: 650px) {
  .container {
    &.form {
      margin-top: 25% !important;
      max-width: 70% !important;
    }
  }

  .title {
    font-size: 1.5rem;
  }
}

@media (max-width: 600px) {

  #postaction,
  #blogaction {
    @include floater(0%, 0%);
    flex-direction: column;
  }
}

@media (max-width: 400px) {

  #postaction,
  #blogaction {
    @include floater(20%, -5%);
  }
}
