$red: #ff4343;
$red-dark: #de3b3b;
$orange: #fe8019;
$yellow: #fabd2f;
$green: #4cca51;
$green-dark: #4caf50;
$grey: #3d444d;
$grey-light: #9198a1;
$grey-dark: #262626;
$grey-darker: #181818;
$white: #ffffff;
$white-dark: #f1f3f5;
$blue: #54a4dc;
$blue-dark: #4793cc;
$blue-light: #1f6feb;
$navy: #082437;
$navy-light: #304f64;
$navy-dark: #0c1a24;
$navy-bg: #04121b;
$shadow: #0000011a;

*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  margin: 0;
  padding: 0;
}

html {
  -moz-text-size-adjust: none;
  -webkit-text-size-adjust: none;
  text-size-adjust: none;
}

body,
h1,
h2,
h3,
h4,
p,
figure,
blockquote,
dl,
dd {
  margin-block-end: 0;
}

ul[role='list'],
ol[role='list'] {
  list-style: none;
}

body {
  min-height: 100vh;
  line-height: 1.5;
  background-color: $grey-darker;
}

main {
  margin: 25px 15px 10px 15px;
}

h1,
h2,
h3,
h4,
button,
input,
label {
  line-height: 1.1;
}

h1,
h2,
h3,
h4 {
  text-wrap: balance;
}

img,
picture {
  max-width: 100%;
  display: block;
}

a {
  color: $blue;
}

input,
button,
textarea,
select {
  font-family: inherit;
  font-size: inherit;
}

textarea:not([rows]) {
  min-height: 10em;
}

:target {
  scroll-margin-block: 5ex;
}

@mixin floater($top, $r) {
  top: $top;
  margin-right: $r;
  position: absolute;
  left: auto !important;
  right: 0 !important;
}

.messages {
  @include floater(12%, 2%);
  color: $white;

  width: 12%;
  list-style: none;
  text-align: center;
  z-index: 1000;

  li {
    padding: 0.4em;
    line-height: 2.0em;
    border-radius: 10px;
    word-wrap: none;

    &.success {
      background-color: $green;
    }

    &.warning {
      background-color: $yellow;
    }

    &.error {
      background-color: $red;
    }

    &.info,
    &.debug {
      background-color: $blue;
    }
  }
}

#popup {
  top: 75%;
  left: 50%;
  position: fixed;
  transform: translate(-50%, -50%);
  text-align: center;

  max-width: 30%;
  padding: 20px;
  border-radius: 8px;
  background-color: $navy-dark;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);

  button {
    margin-top: 10px;
  }
}

nav {
  color: $grey-light;
  background-color: $grey-dark !important;
  border-bottom: 3px solid black;

  a[href="/add"] {
    font-size: 25px;
    font-weight: bold;
  }
}

.navbar-start,
.navbar-end {
  font-size: 20px;

  a:hover {
    text-decoration: underline;
    background-color: $grey-dark !important;
  }
}

.has-dropdown {
  a {
    font-size: 18px;
    text-decoration: none;
  }
}

#navuser {
  img {
    border-radius: 50% !important;
  }

  &:hover {
    background-color: $grey-dark !important;
  }
}

.container {
  &.form {
    margin-top: 10% !important;
    max-width: 30% !important;

    .title {
      text-align: center;
    }

    &.wide {
      margin-top: 2% !important;
      max-width: 80% !important;
    }
  }
}

.forms {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.form {
  padding: 1.2rem;
  border-radius: 0.5rem;
  border: 1px solid $grey;
  background-color: $grey-dark;

  input,
  textarea {
    color: $white;
    background-color: $grey;
    border: none;

    &:focus {
      outline: 0.08rem solid $blue;
      box-shadow: inset 0 0 0 1px $blue-light;
    }
  }

  input,
  textarea,
  button {
    width: 100%;
    padding: 1.5%;
    border-radius: 6px;
    box-sizing: border-box;
    margin: 5px 0 8px;
  }

  textarea[rows][name="text"] {
    height: 1000px;
  }
}

.danger {
  border: 2px solid $red;
  padding: 1em;
  border-radius: 6px;
  margin: 10px 0 0 0;
  background: repeating-linear-gradient(45deg,
      rgba(255, 67, 67, 0.2),
      rgba(255, 67, 67, 0.2) 10px,
      rgba(4, 18, 27, 0.2) 10px,
      rgba(4, 18, 27, 0.2) 20px);
}

.toggler {
  margin: 4px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.toggle {
  width: 60px;
  height: 34px;

  input {
    opacity: 0;
    width: 0;
    height: 0;
  }

  .slider {
    position: absolute;
    width: 50px;
    height: 25px;
    border-radius: 24px;
    background-color: $grey-dark;
    cursor: pointer;

    &:before {
      content: "";
      position: absolute;
      width: 25px;
      height: 25px;
      border-radius: 50%;
      background-color: white;
    }
  }

  input:checked+.slider {
    background-color: $green;

    &:before {
      transform: translateX(26px);
    }
  }
}
