*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  margin: 0;
  padding: 0;
}

html {
  -moz-text-size-adjust: none;
  -webkit-text-size-adjust: none;
  text-size-adjust: none;
}

body,
h1,
h2,
h3,
h4,
p,
figure,
blockquote,
dl,
dd {
  margin-block-end: 0;
}

ul[role=list],
ol[role=list] {
  list-style: none;
}

body {
  min-height: 100vh;
  line-height: 1.5;
  background-color: #181818;
}

main {
  margin: 25px 15px 10px 15px;
}

h1,
h2,
h3,
h4,
button,
input,
label {
  line-height: 1.1;
}

h1,
h2,
h3,
h4 {
  text-wrap: balance;
}

img,
picture {
  max-width: 100%;
  display: block;
}

a {
  color: #54a4dc;
}

input,
button,
textarea,
select {
  font-family: inherit;
  font-size: inherit;
}

textarea:not([rows]) {
  min-height: 10em;
}

:target {
  scroll-margin-block: 5ex;
}

.messages {
  top: 12%;
  margin-right: 2%;
  position: absolute;
  left: auto !important;
  right: 0 !important;
  color: #ffffff;
  width: 12%;
  list-style: none;
  text-align: center;
  z-index: 1000;
}
.messages li {
  padding: 0.4em;
  line-height: 2em;
  border-radius: 10px;
  word-wrap: none;
}
.messages li.success {
  background-color: #4cca51;
}
.messages li.warning {
  background-color: #fabd2f;
}
.messages li.error {
  background-color: #ff4343;
}
.messages li.info, .messages li.debug {
  background-color: #54a4dc;
}

#popup {
  top: 75%;
  left: 50%;
  position: fixed;
  transform: translate(-50%, -50%);
  text-align: center;
  max-width: 30%;
  padding: 20px;
  border-radius: 8px;
  background-color: #0c1a24;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}
#popup button {
  margin-top: 10px;
}

nav {
  color: #9198a1;
  background-color: #262626 !important;
  border-bottom: 3px solid black;
}
nav a[href="/add"] {
  font-size: 25px;
  font-weight: bold;
}

.navbar-start,
.navbar-end {
  font-size: 20px;
}
.navbar-start a:hover,
.navbar-end a:hover {
  text-decoration: underline;
  background-color: #262626 !important;
}

.navbar-item img {
  max-height: 40px !important;
}

.has-dropdown a {
  font-size: 18px;
  text-decoration: none;
}
.has-dropdown a:hover {
  text-decoration: none;
}

.far-left {
  margin-right: auto;
}

.far-right {
  margin-left: auto;
}

.circlepic {
  border-radius: 50% !important;
}

#navuser:hover {
  background-color: #262626 !important;
}

.container.form {
  margin-top: 10% !important;
  max-width: 30% !important;
}
.container.form .title {
  text-align: center;
}
.container.form.wide {
  margin-top: 2% !important;
  max-width: 80% !important;
}

#pic,
#splash {
  max-width: 16em;
}

#ppic {
  max-width: 25%;
  margin: 0 0 10px 0;
}

.forms {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.form {
  padding: 1.2rem;
  border-radius: 0.5rem;
  border: 1px solid #3d444d;
  background-color: #262626;
}
.form input,
.form textarea {
  color: #ffffff;
  background-color: #3d444d;
  border: none;
}
.form input:focus,
.form textarea:focus {
  outline: 0.08rem solid #54a4dc;
  box-shadow: inset 0 0 0 1px #1f6feb;
}
.form input,
.form textarea,
.form button {
  width: 100%;
  padding: 1.5%;
  border-radius: 6px;
  box-sizing: border-box;
  margin: 5px 0 8px;
}
.form textarea[rows][name=text] {
  height: 250px;
}

.danger {
  border: 2px solid #ff4343;
  padding: 1em;
  border-radius: 6px;
  margin: 10px 0 0 0;
  background: repeating-linear-gradient(45deg, rgba(255, 67, 67, 0.2), rgba(255, 67, 67, 0.2) 10px, rgba(4, 18, 27, 0.2) 10px, rgba(4, 18, 27, 0.2) 20px);
}

.toggler {
  margin: 4px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.toggle {
  width: 60px;
  height: 34px;
}
.toggle input {
  opacity: 0;
  width: 0;
  height: 0;
}
.toggle .slider {
  position: absolute;
  width: 50px;
  height: 25px;
  border-radius: 24px;
  background-color: #262626;
  cursor: pointer;
}
.toggle .slider:before {
  content: "";
  position: absolute;
  width: 25px;
  height: 25px;
  border-radius: 50%;
  background-color: white;
}
.toggle input:checked + .slider {
  background-color: #4cca51;
}
.toggle input:checked + .slider:before {
  transform: translateX(26px);
}

.post {
  max-width: 60%;
  overflow-wrap: break-word;
  width: 728px;
  margin: 0 auto !important;
}
.post .heading {
  position: relative;
}
.post .subtitle {
  margin: 10px 0;
  font-style: italic;
}
.post {
  width: 100%;
}

.author {
  display: flex;
  gap: 1em;
  margin: 20px 0 0 0;
}
.author .profile {
  display: flex;
  align-items: center;
}
.author .profile img {
  max-width: 50px;
}
.author div:not(.profile) {
  display: flex;
  flex-direction: column;
}
.author div:not(.profile) p {
  font-size: 13px;
}

.meta {
  display: flex;
  justify-content: flex-start;
  position: relative;
  gap: 10px;
  padding: 15px 0;
  margin: 20px 0 20px 0;
  border-top: 1px solid #3d444d;
  border-bottom: 1px solid #3d444d;
}

.pill {
  display: inline-block;
  border-radius: 20px;
  border: 1px solid #3d444d;
  padding: 0.5em;
  background-color: #262626;
}
.pill:hover {
  background-color: #181818 !important;
}
.pill a {
  color: #9198a1;
}
.pill.circle {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 40px;
  height: 40px;
  border-radius: 50% !important;
  padding: 0;
}

.pill#like,
.pill#share {
  cursor: pointer;
}

.pill#share {
  cursor: pointer;
  background-color: #3d444d;
}
.pill#share #copied {
  top: 23%;
  margin-right: 10%;
  position: absolute;
  left: auto !important;
  right: 0 !important;
  display: none;
  color: #ffffff;
  background-color: #3d444d;
  font-size: 15px;
  text-align: center;
  z-index: 1000;
}

#postaction {
  top: 0%;
  margin-right: -2%;
  position: absolute;
  left: auto !important;
  right: 0 !important;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  gap: 10px;
  width: 60px;
}

.edit {
  border: 2px solid #4cca51;
}
.edit a {
  color: #4cca51 !important;
}

.del {
  border: 2px solid #ff4343;
}
.del a {
  color: #ff4343 !important;
}

.splash {
  text-align: center;
}
.splash img {
  margin: auto;
}
.splash figcaption {
  font-weight: 300;
  font-style: italic;
  margin: 10px 0 0 0;
}

article {
  margin: 50px 0;
  font-size: 20px;
  font-family: Helvetica;
}

@media (max-width: 1000px) {
  .container.form {
    margin-top: 15% !important;
    max-width: 50% !important;
  }
  #postaction {
    top: 100%;
    margin-right: 0%;
    position: absolute;
    left: auto !important;
    right: 0 !important;
  }
}
@media (max-width: 650px) {
  .container.form {
    margin-top: 25% !important;
    max-width: 70% !important;
  }
  .title {
    font-size: 1.5rem;
  }
}
@media (max-width: 480px) {
  #postaction {
    top: 100%;
    margin-right: -10%;
    position: absolute;
    left: auto !important;
    right: 0 !important;
  }
}
@media (max-width: 400px) {
  #postaction {
    top: 0%;
    margin-right: -10%;
    position: absolute;
    left: auto !important;
    right: 0 !important;
  }
}
