<!DOCTYPE html>
<html lang="en" class="has-navbar-fixed-top">
    <head>
        {% load static %}
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>{% block title %}{% endblock %}</title>
        <link rel="shortcut icon" type="image/png" href="{% static 'favicon.ico' %}">
        <!-- <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@1.0.4/css/bulma.min.css" > -->
        <link rel="stylesheet" type="text/css" href="{% static 'css/bulma/css/bulma.min.css' %}">
        <link rel="stylesheet" type="text/css" href="{% static 'css/styles.css' %}">
        <script src="{% static 'js/index.js' %}"></script>
    </head>
    <body>
        {% include '../components/navbar.html' %}

        <main>
            {% block content %}{% endblock %}
        </main>

        {% include '../components/messages.html' %}
    </body>
</html>
<script src="https://kit.fontawesome.com/ddcfaa5e39.js" crossorigin="anonymous"></script>
